.navBar{
  background-color: black;
  width: 100%;
  position: fixed;
  height: 70px;
  top:0;
}
.homeLink, .bioLink{
  padding: 0px 15px 0px 15px;
  color: white;
  text-decoration: none;
  float: left;

}
.homeLink:hover, .bioLink:hover{
  color: black;
  background-color: white;  
}
.projectLink1, .projectLink2, .projectLink3, .projectLink4 {
  color: white;
  text-decoration: none;
  float: right;
  padding: 0px 15px 0px 15px;
}
.projectLink1:hover, .projectLink2:hover, .projectLink3:hover, .projectLink4:hover {
  color: black;
  background-color: white;
}

.linkContainer a{
  position: relative;
  top: 20px; 
  font-size: 24px;
  display: block;
}
.projectLink4{
  border-right: 15px solid black;
}
.welcome, .technologies, .about, .projects{
  position: relative;
  font-size: 32px;
  z-index: 1;
  top: 100px;
}
.welcome h2{
  text-align: center;
  font-size: 64px; 
  margin-top: 20px;
}
.bioSection{
  background-image:url('./images/pikes_peak.JPG');
  height: 3020px;
}
.welcome p{
  width: 50%;
  height: auto;
  margin-left: 50px;
}
.technologies{
  text-align: center;
  margin-top: 90px;
}
