

.navBar{
  display: block;
  background-color: black;
  width: 100%;
  position: fixed;
  height: 70px;
  top: 0;
  z-index: 1;
  border-bottom: 4px ridge red;
  outline: 4px ridge saddlebrown;
}
.homeLink, .bioLink, .projectsLink, .resLink{
  padding: 0px 15px 0px 15px;
  text-decoration: none;
  float: left;
}
.homeLink:hover, .bioLink:hover, .projectsLink:hover, .resLink:hover{
  color: black;
  background-color: white;  
}
.projectLink1, .projectLink2, .projectLink3, .projectLink4 {
  color: white;
  text-decoration: none;
  float: right;
  padding: 0px 15px 0px 15px;
  font-size: 20px;
}
.projectLink1:hover, .projectLink2:hover, .projectLink3:hover, .projectLink4:hover {
  color: black;
  background-color: white;
}

.linkContainer a{
  position: relative;
  top: 20px; 
}

/* Main page contents */
main{
  position: relative;
  top: 50px;
  margin: 0;
}

/* Home Section: contains Introduction and Technologies */
#home{
  background-image:url('./images/pikes_peak.JPG'); 
  background-size: 100% 105%;
  position: relative;
  height: auto;
  width: 100%;
  scroll-margin-top: 60px;
}

.introduction h2{
  text-align: center;
  font-size: 32px; 
  margin-top: 20px;
  padding-top: 20px;
}
.introduction p{
  width: 90%;
  margin: auto;
  height: auto;
  text-align: center;
  font-size: 24px;
  text-shadow: 1px 1px 2px white;
}

.technologies{
  position: relative;
  text-align: center;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 10%;
  flex-direction: column;
  text-shadow: 2px 1px 2px white;
  font-size: 28px;
}

.technologies img{
  position: relative;
  height: 100%;
  width: 100%;
}
.technologies .name{
  font-size: 16px;
  position: relative;
  height: auto;
  width: 100%;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}
.js-bundle, .react-bundle, .d3-bundle, .html5-bundle, .css-bundle{
  display: inline-block;
  width: 24%;
  height: auto;
  margin: 2%;
  padding: 1%;
}

/* About Me Section */
#aboutMe{
  position: relative;
  background-color:darkslategrey;
  color: white;
  scroll-margin-top: 60px;
  padding-top: 10px;
  width: 100%;
}
#aboutMe h1{
  padding-left: 1%;
}
.comparison{
  height: auto;
  width: 90%;
  margin: auto;

}
.about, .nerd, .beaker{
  display: inline-block;
  width: 100%;
  height: auto;
}
.about{
  font-size: 20px;
}

/* Resume Section */
#resume{
  position: relative;
  background-color:honeydew;
  height: auto;
  width: 100%;
  scroll-margin-top: 60px;
}
.description{
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
.experienceType{
  width: 10%;
  padding: 5% 0 5% 1%;
  text-decoration: underline;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}
.institution{
  font-weight: bold;
  font-size: 18px;
}

/* Project Section */
#projects{
  width: 100%;
  height: auto;
  background-color: darkblue;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  scroll-margin-top: 60px;
}
.projectContainer{
  width: 100%;
  margin: auto;
  height: auto;
  margin-bottom: 50px;
}
.project-blurb{
  font-size: 26px;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 5%;
}
.calculator, .timer, .percussion, .survey{
  align-self: center;
  width: 80%;
  height: auto;
  margin: 0 0 3% 10%;

  
}

.calculator:hover, .timer:hover, .percussion:hover, .survey:hover{
 box-shadow: 0 0 20px 10px yellow;
}
/* other */

.scroll2AboutMe a, .scroll2Resume a, .scroll2Projects a{
  padding: 5px;
  position: relative;
  text-decoration: none;
  background-color: red;
  color: white;
  border: 2px solid black;
  align-self: center;
}
.scroll2AboutMe a:hover, .scroll2Resume a:hover, .scroll2Projects a:hover{
  color: red;
  background-color: white;
  border-color: black;
  
}
.scroll2Resume, .scroll2AboutMe, .scroll2Projects {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

.italicBold{
  font-style: italic;
  font-weight: bold;
}
.priceyPaper, .jobTitle{
  font-style: italic;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 5px;
}



/* small mobile device */
@media only screen and (min-width: 50px) and (max-width: 320.99px){

  .projectLink1, .projectLink2, .projectLink3, .projectLink4{
    display: none;
  }
  .homeLink, .bioLink, .projectsLink, .resLink{
    display: block;
    padding: 0px 12px 0px 12px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 15px;
  }
  .technologies{
    width: 90%;
  }
}

/* medium mobile device */
@media only screen and (min-width: 321px) and (max-width: 375.99px){

  .projectLink1, .projectLink2, .projectLink3, .projectLink4{
    display: none;
  } 
  .homeLink, .bioLink, .projectsLink, .resLink{
    display: block;
    padding: 0px 12px 0px 12px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 15px;
  }
  .technologies{
    width: 90%;
  }
}

/* large mobile device */
@media only screen and (min-width: 376px) and (max-width: 425.99px){
  .homeLink, .bioLink, .projectsLink, .resLink{
    display: block;
    padding: 0px 12px 0px 12px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 17px;
  }
  .projectLink1, .projectLink2, .projectLink3, .projectLink4{
    display: none;
  }
  .technologies{
    width: 80%;
  }  
}


/* Tablet */
@media only screen and (min-width: 426px) and (max-width: 768.99px){
  
  .homeLink, .bioLink, .projectsLink, .resLink{
    display: block;
    padding: 0px 15px 0px 15px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 20px;
  }
  .projectLink1, .projectLink2, .projectLink3, .projectLink4{
    display: none;
  }
  .technologies{
    width: 60%;
  } 
}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024.99px){

  .homeLink, .bioLink, .projectsLink, .resLink{
    display: block;
    padding: 0px 15px 0px 15px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 20px;
  }
.projectLink1, .projectLink2, .projectLink3, .projectLink4{
  display: none;
} 
.calculator, .timer, .percussion, .survey{
  align-self: center;
  width: 40%;
  height: auto;
  margin: 0 0 3% 7%;
  padding: 0;
}

.technologies{
  width: 50%;
}
}

/* Large Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1440.99px){

  .homeLink, .bioLink, .projectsLink, .resLink{
    display: block;
    padding: 0px 15px 0px 15px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 20px;
  }
  .projectLink1, .projectLink2, .projectLink3, .projectLink4{
    display: none;
  }
  .calculator, .timer, .percussion, .survey{
    align-self: center;
    width: 40%;
    height: auto;
    margin: 0 0 3% 7%;
    padding: 0;
  } 

  .technologies{
    width: 40%;
  }
}

/* 4K */
@media only screen and (min-width: 1441px){

  .projectsLink{
    display: none;
  }
  .homeLink, .bioLink, .resLink{
    display: block;
    padding: 0px 15px 0px 15px;
    color: white;
    text-decoration: none;
    float: left;
    font-size: 20px;
  }
  .projectLink1, .projectLink2, .projectLink3, .projectLink4{
    display: block;
  }
  .calculator, .timer, .percussion, .survey{
    align-self: center;
    width: 16%;
    height: auto;
    padding: 0;
    margin: 0 0 3% 7%;
  }

  .technologies{
    width: 25%;
  } 
}

@media screen and (min-width: 426px){
  .beaker{
    grid-area: beaker;
    align-self: stretch;
    max-height: 400px;
    justify-self: center;

  }
  .nerd{
    grid-area: nerd;
    max-height: 400px;
    justify-self: center;

  }
  .about{
   grid-area: about;
  }
.comparison{
display: grid;
grid-template-columns: 7fr 25px 5fr;
grid-template-rows: auto;
grid-template-areas:
  'beaker . nerd'
  'about about about';

}

}